@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Doto:wght@100..900&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Kablammo&family=Sixtyfour+Convergence&display=swap');

body {
    font-family: "Sixtyfour Convergence", serif;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}